
<h1 class="text-center mt-4">Articles list</h1>
<%= will_paginate @articles, list_classes: %w(pagination justify-content-center), renderer: WillPaginate::ActionView::BootstrapLinkRenderer%>
<%= render "articles" %>