@import 'bootstrap/dist/css/bootstrap';

html, body {
    height: 100%;
    background-color: lightgray !important;
}

.page-content {
    flex: 1 0 auto;
}

.jumbotron{
    background-image: asset-url('jumbotron.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    size: 425px
}

.page-link {
    color: #343a40;
    border-color: lightgray;
}

.page-link:hover{
    color: #343a40
}

.page-item.active .page-link {
    background-color: lightgray;
    border-color: #343a40;
}